body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #222;
  color: #89b549;
  font-family: "Bungee", cursive;
}

h1 {
  text-align: right;
  letter-spacing: 3px;
  font-size: 3vw;
  margin: 0 50px 0 50px;
  -webkit-transform: skew(-63deg, 26.6deg);
  -moz-transform: skew(-63deg, 26.6deg);
  -o-transform: skew(-63deg, 26.6deg);
  -ms-transform: skew(-63deg, 26.6deg);
  transform: skew(-63deg, 26.6deg);
}

img {
  width: 3vw;
  height: 3vw;
}
.flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
.w-100 {
  width: 100%;
}

.world {
  min-height: calc(100vw * (1 / 3));
  position: relative;
}

.tile {
  position: absolute;
  width: calc(100% / 9);
  height: auto;
  transform: translateX(-50%);
}
.goal {
  position: absolute;
  width: calc(60vh * (1 / 0.75));
  top: 0;
  -webkit-transform: skew(-63deg, 26.6deg);
  -moz-transform: skew(-63deg, 26.6deg);
  -o-transform: skew(-63deg, 26.6deg);
  -ms-transform: skew(-63deg, 26.6deg);
  transform: skew(-63deg, 26.6deg);
}

.frog {
  position: absolute;
  z-index: 1000;
  transform: translate(-50%, -50%);
  transition: top 0.35s linear, left 0.35s linear, transform 0.35s linear;
}
.frog.dead {
  -webkit-transform: skew(-63deg, 26.6deg) scaleY(0.5);
  -moz-transform: skew(-63deg, 26.6deg) scaleY(0.5);
  -o-transform: skew(-63deg, 26.6deg) scaleY(0.5);
  -ms-transform: skew(-63deg, 26.6deg) scaleY(0.5);
  transform: skew(-63deg, 26.6deg) scaleY(0.5);
  text-shadow: 0 0 3px #89b549;
}

.boat,
.truck {
  position: absolute;
}

.boat {
  z-index: 900;
  width: 5vw;
  transform: translateX(-50%);
  transition: top 0.35s linear, left 0.35s linear, opacity 0.5s linear;
}

.truck {
  transform: translate(-50%, -50%);
  z-index: 1100;
  width: 5vw;
  height: 5vw;
  transition: top 0.35s linear, left 0.35s linear, opacity 0.5s linear;
}
.buttons {
  position: fixed;
  min-height: 40vh;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.buttons > * {
  width: 100%;
}
.button {
  text-align: center;
  font-size: 16px;
  line-height: 60px;
  display: inline-block;
  width: 60px;
  height: 60px;
  border: 1px solid #89b549;
  border-radius: 50%;
}
.arrows svg {
  width: 100px;
  display: none;
  margin-left: 10px;
}
@media screen and (min-width: 1025px) {
  .button {
    display: none;
  }
  .arrows svg {
    display: block;
  }
}
@media screen and (min-width: 567px) {
  .buttons {
    min-height: 100vh;
  }
}
@media (orientation: portrait) {
  .buttons {
    min-height: 40vh;
  }
}

.score-bar {
  padding: 10px 0;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
}
.score-bar .score-wrapper {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  height: 30px;
  font-size: 3vw;
  background: #222;
}
.score-bar svg {
  width: 4vw;
}
.score-bar span {
  line-height: 50px;
  padding: 0 10px;
}
.score-bar .score {
  margin-right: 20px;
}
.score-bar .button {
  display: block;
  border-radius: 5px;
  line-height: 30px;
  height: 30px;
  width: auto;
  padding: 0 10px;
  font-size: 14px;
  background-color: #222;
  border: 1px solid #89b549;
  z-index: 2000;
}
